@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import 'node_modules/bootstrap/scss/bootstrap.scss';

.list-group-item span {
  display: block;
  width: 100%;
}

//Fontes CSS
.Robot {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #000000;
  text-align: start;
}

body {
	text-align: center;
	background-color: #66C3D2;
	align-items: center;
	
}

html, body {
	height:100%;
  background-color: #66C3D2;
}



//DROPDOWN CSS
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 100;
}

// main logo home page
.Logigs {
  z-index: 10;
}

.titi {
  z-index: 12;
  justify-self: center;
  align-self: center;
  align-items: center;
}

.background-waves {
  background-color: #66C3D2;
  
  width: 100%;
  z-index: 0;

}

@media (max-width: 768px) {
  .background-waves {
    top: 200px;
    margin-top: 200px;
    position: static;
  }
}

//Inputs CSS
.input {
  z-index: 10;
  position: relative;
  padding: auto;
	position:relative;
	font-size: 1.5em;
	background: linear-gradient(21deg, #10abff, #1beabd);
	padding: 6px;
	display: inline-block;
  width: 60%;
	border-radius: 9999em;
  padding-bottom: 7px;


*:not(span) {
  position: relative;
  display: inherit;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 .325em;
  z-index: 1; // needs to be above the :focus span
  
  // summon fancy shadow styles when focussed
  &:focus + span {
    opacity: 1;
    transform: scale(1);
  }
}


	// we don't animate box-shadow directly as that can't be done on the GPU, only animate opacity and transform for high performance animations.
	span {
		
		transform: scale(.993, .94); // scale it down just a little bit
		transition: transform .5s, opacity .25s;
		opacity: 0; // is hidden by default
		
		position:absolute;
		z-index: 0; // needs to be below the field (would block input otherwise)
		margin:4px; // a bit bigger than .input padding, this prevents background color pixels shining through
		left:0;
		top:0;
		right:0;
		bottom:0;
		border-radius: inherit;
		pointer-events: none; // this allows the user to click through this element, as the shadow is rather wide it might overlap with other fields and we don't want to block those.
		
		// fancy shadow styles
		box-shadow: inset 0 0 0 3px #fff,
			0 0 0 4px #fff,
			3px -3px 30px #1beabd, 
			-3px 3px 30px #10abff;
	}
	
}

input {
	font-family: inherit;
	line-height:inherit;
	color:#2e3750;
	min-width:12em;
}

::placeholder {
	color:#cbd0d5;
}

html::after {
	content:'';
	background: linear-gradient(21deg, #10abff, #1beabd);
	height:3px;
	width:100%;
	position:absolute;
	left:0;
	top:0;
}

// CSS do BackGround

.backgroundrect {
  width: 100%;
  height: 100%;
  background: linear-gradient(0, #120c56, #000000);
  justify-Content: "center";
  align-items: "center";
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.wave1 {
  animation: movewave1 3s ease-in-out infinite alternate;
}

@keyframes movewave1 {
  from {
    transform: translateX(-200px);  
  }
}

.wave2 {
  animation: movewave2 3s 1.2s ease-in-out infinite alternate;
}

@keyframes movewave2 {
  from {
    transform: translateX(200px);  
  }
}

.wave3 {
  animation: movewave3 3s 0.7s ease-in-out infinite alternate;
}

@keyframes movewave3 {
  from {
    transform: translateX(-100px);  
  }
}

// CSS do Logo
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

//BUTTON CSS
.buttonv {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #12B8F1;
  background: linear-gradient(90deg, rgba(120,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  z-index: 2;
  }

.buttonv::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
  z-index: 2;
}

.buttonv:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
  z-index: 2;
}

.buttonv:hover::before, button:focus::before {
  opacity: 1;
  z-index: 2;
}

.buttonv::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
  z-index: 2;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}


//Cards Home Page CSS
main.cards {
  display: flex;
  padding: 32px;
  flex-wrap: wrap;
  justify-content: center;

}

main.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 468px;
  margin-left: 32px;
}

main.cards section.card:first-child {
  margin-left: 0;
}
//LEMBRARE DE MUDAR AQUI

  .card:hover, .card:focus {
    color: #313133;
    transform: translateY(-10px) scale(1.1);
    box-shadow: 10px 10px 32px rgb(0, 0, 0);
    transition-duration: 3s;
    transition-property: width;
    z-index: 999;
    transition: all 0.10s;
    transition-timing-function: linear;
    filter: drop-shadow(10px 4px 4px rgba(0, 0, 0, 0.50));
  }


main.cards section.card .icon {
  width: 64px;
  height: 64px;
}

main.cards section.card img {
  width: 100%;
}

main.cards section.card h3 {
  font-size: 100%;
  margin: 16px 0;
}

main.cards section.card span {
  font-weight: 300;
  max-width: 240px;
  font-size: 80%;
  margin-bottom: 16px;
}

main.cards section.card button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px 0;
}

main.cards section.card.contact button {
  background: linear-gradient(to right, #9F66FF, #DFCBFF);
}
main.cards section.card.shop button {
  background: linear-gradient(to right, #3E8AFF, #BBDEFF);
}
main.cards section.card.about button {
  background: linear-gradient(to right, #FE5F8F, #FFC7D9);
}

main.cards section.card.contact {
  box-shadow: 20px 20px 50px -30px #DBC4FF;
}
main.cards section.card.shop {
  box-shadow: 20px 20px 50px -30px #AFD6FF;
}
main.cards section.card.about {
  box-shadow: 20px 20px 50px -30px #FFC1D5;
}

@media screen and (max-width: 720px) {
  main.cards {
      flex-direction: column;
  }

  main.cards section.card {
      margin-left: 0;
      margin-bottom: 32px;
  }

  main.cards section.card:last-child {
      margin-bottom: 0;
  }

  main.cards section.card button {
      font-size: 70%;
  }

}

.texPho {
  font-family: 'Caveat', cursive;
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 10px #000;
  margin-top: 20px;
  text-align: left;
}

.texFoo {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 10px #000;
  margin-top: 20px;
  text-align: center;
}
// Phones CSS
.Phones {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-self: center;
  justify-content: flex-start;
  filter: drop-shadow(10px 4px 4px rgba(0, 0, 0, 0.50));
  border-radius: 8px;
  max-height: 1000px;
  max-width: 340px;
  animation: Phone1 2s 1.2s ease-in-out infinite alternate;
}

@keyframes Phone1 {
  from {
    transform: translateY(20px);  
  }
}

.bgfor {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-foo {
  background-color: #111111;
}
