@import 'node_modules/bootstrap/scss/bootstrap.scss';

.list-group-item span {
  display: block;
  width: 100%;
}

body {
	text-align: center;
	
	align-items: center;
	
}

html, body {
	height:100%;
}

.Logigs {
  z-index: 10;
}

.input {
  z-index: 10;
  position: relative;
  padding: auto;
	position:relative;
	font-size: 1.5em;
	background: linear-gradient(21deg, #10abff, #1beabd);
	padding: 6px;
	display: inline-block;
  width: 60%;
	border-radius: 9999em;
  padding-bottom: 7px;


*:not(span) {
  position: relative;
  display: inherit;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 .325em;
  z-index: 1; // needs to be above the :focus span
  
  // summon fancy shadow styles when focussed
  &:focus + span {
    opacity: 1;
    transform: scale(1);
  }
}


	// we don't animate box-shadow directly as that can't be done on the GPU, only animate opacity and transform for high performance animations.
	span {
		
		transform: scale(.993, .94); // scale it down just a little bit
		transition: transform .5s, opacity .25s;
		opacity: 0; // is hidden by default
		
		position:absolute;
		z-index: 0; // needs to be below the field (would block input otherwise)
		margin:4px; // a bit bigger than .input padding, this prevents background color pixels shining through
		left:0;
		top:0;
		right:0;
		bottom:0;
		border-radius: inherit;
		pointer-events: none; // this allows the user to click through this element, as the shadow is rather wide it might overlap with other fields and we don't want to block those.
		
		// fancy shadow styles
		box-shadow: inset 0 0 0 3px #fff,
			0 0 0 4px #fff,
			3px -3px 30px #1beabd, 
			-3px 3px 30px #10abff;
	}
	
}

input {
	font-family: inherit;
	line-height:inherit;
	color:#2e3750;
	min-width:12em;
}

::placeholder {
	color:#cbd0d5;
}

html::after {
	content:'';
	background: linear-gradient(21deg, #10abff, #1beabd);
	height:3px;
	width:100%;
	position:absolute;
	left:0;
	top:0;
}

// CSS do BackGround

.backgroundrect {
  width: 100%;
  height: 100%;
  background: linear-gradient(0, #120c56, #000000);
  justify-Content: "center";
  align-items: "center";
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.wave1 {
  animation: movewave1 3s ease-in-out infinite alternate;
}

@keyframes movewave1 {
  from {
    transform: translateX(-200px);  
  }
}

.wave2 {
  animation: movewave2 3s 1.2s ease-in-out infinite alternate;
}

@keyframes movewave2 {
  from {
    transform: translateX(200px);  
  }
}

.wave3 {
  animation: movewave3 3s 0.7s ease-in-out infinite alternate;
}

@keyframes movewave3 {
  from {
    transform: translateX(-100px);  
  }
}

// CSS do Logo
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonv {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  z-index: 2;
  }

.buttonv::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
  z-index: 2;
}

.buttonv:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
  z-index: 2;
}

.buttonv:hover::before, button:focus::before {
  opacity: 1;
  z-index: 2;
}

.buttonv::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
  z-index: 2;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}